@use "styles/globals.scss";
@use "styles/home.scss";
@use "styles/aboutMe.scss";
@use "styles/myWorks.scss";
@use "styles/contactMe.scss";
@use "styles/myFavoriteLyrics.scss";
@use "styles/404.scss" as not_found;
@use "styles/components/header.scss";
@use "styles/components/icons.scss";
@use "styles/components/navigation.scss";
