@import "../config";

.nav {
  position: fixed;
  z-index: 2;
  width: 100%;

  &__menuBtn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeInOut();

    $this: &;
    &__line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: set-text-color($primary-color);
      @include easeInOut();
    }

    // Rotate Into X With Menu Lines
    &-close {
      transform: rotate(180deg);
      #{$this}__line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
        // Line2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }
        // Line3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }

  // Menu Overlay
  &__menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &-show {
      visibility: visible;
    }

    &__branding,
    &__list {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 50%;
      height: 100vh;
      overflow: hidden;

      &-show {
        // Slide in from bottom
        transform: translate3d(0, 0, 0) !important;
      }
    }

    &__branding {
      align-items: center;
      justify-content: center;
      background: $primary-color;
      transform: translate3d(0, 100%, 0);
      @include easeInOut();

      &__portrait {
        width: 250px;
        height: 250px;
        background: url(../../public/assets/portrait.jpg);
        border-radius: 50%;
        border: solid 3px $secondary-color;
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      background: darken($primary-color, 5);
      list-style: none;
      transform: translate3d(0, -100%, 0);
      @include easeInOut();

      &__item {
        transform: translate3d(600px, 0, 0);
        @include easeInOut();

        &-show {
          // Slide in from right
          transform: translate3d(0, 0, 0);
        }

        &-current > &__link {
          color: $secondary-color;
        }

        &__link {
          text-decoration: none;
          display: inline-block;
          position: relative;
          font-size: 30px;
          text-transform: uppercase;
          padding: 1rem, 0;
          font-weight: 300;
          color: set-text-color($primary-color);
          text-decoration: none;
          @include easeInOut();

          &:hover {
            color: $secondary-color;
          }
        }
      }

      // Delay each nav item slide by 0.1s
      @for $x from 1 through 5 {
        &__item:nth-child(#{$x}) {
          transition-delay: $x * 100ms;
        }
      }
    }
  }
}

@include mediaMd {
  .nav__menu__branding,
  .nav__menu__list {
    float: none;
    width: 100%;
    min-height: 0;

    &-show {
      transform: translate3d(0, 0, 0);
    }
  }

  .nav__menu__list {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .nav__menu__branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    &__portrait {
      background: url(../../public/assets/portrait_small.jpg);
      width: 150px;
      height: 150px;
    }
  }
}
