@import "../config";

.matrix {
  position: absolute;
  width: 80%;
  height: 60vh;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px;
}

code {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -62%;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  background-color: rgba($primary-color, 0.5);
  text-align: center;
  z-index: -1;
}

.cell-3-0,
.cell-4-0,
.cell-5-1,
.cell-5-0,
.cell-2-2,
.cell-3-2,
.cell-4-2,
.cell-5-2,
.cell-6-2,
.cell-7-2,
.cell-8-2,
.cell-2-4,
.cell-3-4,
.cell-4-4,
.cell-5-4,
.cell-6-4,
.cell-7-4,
.cell-8-4,
.cell-8-5,
.cell-3-6,
.cell-4-6,
.cell-5-6,
.cell-6-6,
.cell-7-6,
.cell-8-6,
.cell-2-8,
.cell-3-8,
.cell-4-8,
.cell-5-8,
.cell-5-9,
.cell-2-10,
.cell-3-10,
.cell-4-10,
.cell-5-10,
.cell-6-10,
.cell-7-10,
.cell-8-10 {
  background-color: $secondary-color;
}

.cell-6-0,
.cell-7-0,
.cell-8-0,
.cell-0-1,
.cell-1-1,
.cell-2-1,
.cell-3-1,
.cell-4-1,
.cell-6-1,
.cell-7-1,
.cell-8-1,
.cell-0-2,
.cell-1-2,
.cell-3-3,
.cell-4-3,
.cell-5-3,
.cell-6-3,
.cell-7-3,
.cell-8-3,
.cell-3-5,
.cell-4-5,
.cell-5-5,
.cell-6-5,
.cell-7-5,
.cell-2-7,
.cell-3-7,
.cell-4-7,
.cell-5-7,
.cell-6-7,
.cell-7-7,
.cell-8-7,
.cell-6-8,
.cell-7-8,
.cell-8-8,
.cell-2-9,
.cell-3-9,
.cell-4-9,
.cell-6-9,
.cell-7-9,
.cell-8-9,
.cell-1-10 {
  background-color: rgba(#ccc, 0.3);
}

@include mediaMd {
  code {
    font-size: 1rem;
  }
}
