@import "../../config";

.landing {
  display: grid;
  grid-template-areas: "texts icons";
  grid-template-columns: repeat(2, 1fr);

  &__heading {
    grid-area: texts;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

@include mediaMd {
  .landing {
    grid-template-areas:
      "texts"
      "icons";
    grid-template-columns: 1fr;
  }

  h1,
  h2,
  h3 {
    &.lg-heading {
      text-align: center;
      line-height: 1.2;
      font-size: 5rem;
    }

    &.sm-heading {
      text-align: center;
      margin-top: 2rem;
    }
  }
}
