@import "../../config";

.icons {
  margin-top: 1rem;
  grid-area: icons;
  display: flex;
  align-items: center;

  a {
    padding: 1rem;

    &:hover {
      @include easeInOut();
      color: $secondary-color;
    }
  }

  &-start {
    justify-content: start;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: end;
  }
}

@include mediaMd {
  .icons {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
  }
}
