@import "config";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $home-image;
  background-attachment: fixed;
  background-size: cover;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.text-secondary {
  color: $secondary-color;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.container {
  padding: 4rem;
  background-color: rgba(#444, 0.8);
  min-height: 100vh;
}

@include mediaMd {
  .container {
    width: 100%;
    padding: 2rem;
  }
}
